<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Summoner</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div id="app" v-cloak>
        <h1 id="title">{{title}}</h1>
        <form  @submit.prevent="searchForPlayer">
            <label for="summonerID">Summoner ID:</label>
            <input id="summonerID" name="summonerID" v-model="summonerID" required/>

            <label for="server">Server:</label>
            <select id="server" name="server" v-model="server" required>
                <option value="br1">BR1</option>
                <option value="eun1">EUN1</option>
                <option value="euw1">EUW1</option>
                <option value="jp1">JP1</option>
                <option value="kr">KR</option>
                <option value="la1">LA1</option>
                <option value="la2">LA2</option>
                <option value="na1">NA1</option>
                <option value="oc1">OC1</option>
                <option value="tr1">TR1</option>
                <option value="ru">RU</option>

            </select>
            <button>Search</button>
        </form>
        
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
</body>
</html>